@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&family=Noto+Sans+KR:wght@300;700&family=Unna&display=swap");

/* 전체영역에서 여백을 없애줌 */
* {
  margin: 0;
  padding: 0;
}

/*reset*/
*{margin: 0; padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {text-decoration: inherit; color: inherit;}
li {list-style: none;}
img {vertical-align: middle;}
a img {border: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

body {font-family: 'Noto Sans KR', sans-serif; font-size: 14px; color:#000; line-height: 1.4;}
/* z-index는 값이 높은게 제일 위에 나오도록 함 비쥬얼 영역보다 높게 나오도록 100설정 */
header {width: 100%;  padding: 0 0px; box-sizing: border-box; height: 100px; line-height: 100px; ; background: #eee;
  color: rgb(10, 10, 10); z-index: 100; position: fixed; top:0; }

/* ul li태그에 리스트 스타일을 없앰 */
ul li{
  list-style: none;
}
/* a태그에 텍스트 밑줄을 없애고 색상을 #333 */
a {
  text-decoration: none;
  
}
/* 글자크기를 16px 맑은 고딕 굵게하고 width넓이 700, 높이 50만큼 배경색은 #ccc, 글자색은 검정색, 라인높이50px
menu박스 가운데정렬, 글자가운데 정렬 */
#menu {
  font:bold 16px "malgun gothic";
  width:700px;
  height:50px;
  background: rgb(236, 207, 198);
  color:black;
  line-height: 50px; 
  margin:0 auto;
  text-align: center;
  border-radius: 10px;
}

/* menu태그 자식의 ul의 자식 li를 왼쪽정렬과 넓이 140설정 */
#menu > ul > li {
  float:left;
  width:140px;
  position:relative;
}
  #menu > ul > li > ul {
		width:130px;
		display:none;
		position: absolute;
		font-size:14px;
		background: rgb(243, 223, 223);
		border-radius: 10px;
	}
  #menu > ul > li:hover > ul {
		display:block;
	}
  #menu > ul > li > ul > li:hover {
		background:rgb(223, 180, 169);
		transition: ease 1s;
		border-radius: 10px;
		}



.navbar{
 display:flex;
 justify-content: space-between;
 align-items: center;
 background-color: #f2f2f2;
 padding: 8px 12px;
}

.navbar__logo{
 font-size: 24px;
 color: black;
}

.navbar__logo img{
	width:100%;
	height:110px;
	padding-left:15px;
	
   }

.navbar__menu {
 display:flex;
 list-style: none;
 padding-left: 0;
}

.navbar__menu li{
 padding: 8px 12px;
}
.navbar__menu li:hover{
 background-color: white;
 border-radius: 4px;
}
.navbar__icons{
 list-style: none;
 color:tan;
 display:flex;
 padding-left: 0;
}

.navbar__icons li{
 padding: 8px 12px;
}
.section{
 width:100%;
}
.Mainimg{
 width:100%;
 object-fit: contain;

}

.navbar__right {
  display:flex;
  list-style: none;
  font-weight:bold;
  color: black;
  padding-right:0;
}

.navbar__right li{
  padding: 8px 20px;
}

.navbar__toogleBtn{
 display:none;
 position: absolute;
 right: 32px;
 font-size: 24px;
 color:violet
}

.layout{
  max-width: 600px;
  margin: 0 auto;
}

.visual {
  padding-top: 200px;
  padding-left: 200px;
  padding-right: 200px;
}


#contentsHead {
  padding: 20px 0 60px;
}

#contentsHead h1 {
  font-size: 38px;
  line-height: 140%; 	
}

#contentsHead h2 {
  font-size: 20px; 
}
#contentsHead h3 {
  font-size: 18px;
}

#contentsHead {
  padding: 40px 0 40px !important;
}

#contentsHead h1 {
  font-size: 30px;
  line-height:110%;
}

#contentsHead h2 {
  font-size: 18px; 
}
#contentsHead .line span {
  padding: 0 20px;
  letter-spacing:2px;
}
#contentsHead h3 {
  /*font-size: 16px;*/
}
  
#contentsHead .kor {
  display:block;
  font-size:18px;
  line-height:100%;
  margin-top:10px;
}

#hashPage {position:relative;width:100%;padding:0px 0 0px;font-size:0;}
#hashPage ul {position:relative;margin: 40px 0px 40px;text-align:center;display:block;}
#hashPage ul li { 
	margin: 0px 0 0px;
	position:relative;
	display: inline-block; 
	*display: inline;*zoom: 1; 
	text-align: center; 
	position: relative;
	
}

#hashPage ul li a {
	display: block; 
	color:rgba(0,0,0,1);
	font-size: 15px; 
	font-weight:400; 
	letter-spacing: 0;  position: relative; 
	padding:0px 25px 0px;	
	line-height:40px;
	overflow:hidden;
	margin:0 5px;
	white-space:nowrap;text-overflow:ellipsis;
	background:rgba(255,255,255,1);
	border:rgba(230,230,230,1) 1px solid;
	/*-webkit-border-radius: 40px; 
	   -moz-border-radius: 40px; 
		    border-radius: 40px;*/
}
#hashPage ul li:first-child a {
	margin-left:0;
}
#hashPage ul li:last-child a {
	margin-right:0;
}

#hashPage ul li a:hover {
	background:rgba(230,230,230,1);
	border:rgba(230,230,230,1) 1px solid;
}


#hashPage ul li.on a { 
	background:rgba(0,0,0,1);
	border:rgba(0,0,0,1) 1px solid;
	color: rgba(255,255,255,1);
	-moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
	z-index:20;
	/*border:none;*/
}

#hashPage ul li .arrow {
	z-index:10;
	position: absolute;bottom:-18px;left:50%;margin-left:-11px;background:none;width:22px;height:22px;
	-moz-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    -o-transform: translateY(-50%) rotate(45deg);
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
	display:none;
}
#hashPage ul li.on .arrow {background:rgba(230,200,160,1);}


#hashSelect {
	display:block;
	font-size: 15px; 
	text-align:left;
	padding:0px 18px 0px 20px;	
	line-height:40px;
	background:rgba(235,235,235,1);
	color: rgba(0,0,0,1);
	display:none;
}
#hashSelect .select-txt {
	position: relative;
	float: left;
	top: 2px;
}
#hashSelect .home {
	position: relative;
	float: left;
	top: 2px;
}
#hashSelect .updown {
	position: relative;
	float: right;
	top: 2px;
}

#hashSelect .updown i:before {
    font-size: 22px;
	font-family: 'themify'; 
	-webkit-font-smoothing: antialiased; text-indent: 0; -moz-osx-font-smoothing: grayscale; 
	content: "\e65f";
}

#hashSelect.open .updown i:before {
	content: "\e65c";
}


#contentsHead {
	position: relative;
	padding: 20px 0 80px;
	margin:0px auto 0px;
  text-align: center;
}
#contentsHead .in {
	position: relative;
	display:inline-block;
}
#contentsHead h1 {
	position: relative;
	font-size: 40px;
	letter-spacing: 0px; 
	line-height: 120%; 	
	color:rgba(0,0,0,1);
	font-family:"Playfair Display SC","Noto Sans KR",serif;
	position:relative;
	padding:0px 0 20px;
}
#contentsHead .kor {
	position: relative;
	font-size: 20px;
	display:inline-block;
	line-height:100%;
	font-weight:400;
}

#contentsHead h2 {
	position: relative;
	display: block;
	font-size: 20px; 
	font-style: normal; 
	letter-spacing: 0; 
	line-height: 140%; 
	color:rgba(0,0,0,1);
}
#contentsHead .line {
	margin:0px 0 20px;
}
#contentsHead .line:after {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	width: 100%;
	height: 1px;
	background: #ccc;
}
#contentsHead .line span {
	display: inline-block;
	position: relative;
	z-index: 50;
	padding: 0 30px;
	background: #fff;
	font-weight:400;
	letter-spacing: 4px;
}
.bg-8 #contentsHead .line span {
	background: rgba(250,250,250,1);
}
#contentsHead .line span:before,
#contentsHead .line span:after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	width: 1px;
	height: 100%;
	background: #ccc;
}
#contentsHead .line span:before {
	left: 0;
}
#contentsHead .line span:after {
	right: 0;
}

#contentsHead h3 {
	position: relative;
	font-size: 20px; letter-spacing: 0; line-height: 160%; 
	color:rgba(0,0,0,.8);
	padding:0px 0 0;
}

/* 게시판 */


#noticeWrapper {margin:0px auto 20px;}
/* .newsList {width:100%;border-top:2px solid #000;} */
.newsList.noBorder {border-top:none;}
.newsList caption {width:0;height:0;font-size:0;line-height:0;overflow:hidden;}
.newsList .col1 {width:6%;}
.newsList .col2 {width:72%;}
.newsList .col3 {width:11%;}
.newsList .col4 {width:11%;}
.newsList .col5 {width:11%;}

.newsList thead th {font-size:15px; color:rgba(50,35,30,1); border-bottom:1px solid #BCBCBD;  font-weight:normal; padding:12px 0; background:url('/imgs/board/bull08.png') no-repeat 100% center;}
.newsList thead th.last {background:none;}

.newsList tbody td { position:relative; font-size:14px; color:#7d7d7d; border-bottom:1px solid #eeeeee; padding:12px 0; text-align:center;}
.newsList tbody td a {font-size:16px; color:#4c4c4c; }
.newsList tbody td a:hover {border-bottom:1px solid #4b4b4b; color:#4b4b4b; font-weight:400; }
.newsList tbody td.tLeft {text-align:left; padding-left:20px; }
.newsList tbody td.faq {padding:0px 0;}
.newsList tbody td.faq a:hover {border-bottom:none; }
.newsList tbody td img {vertical-align:middle;/*margin-bottom:3px*/}

.newsList .inner thead th {padding:0px;font-weight:bold;font-size:12px;border-bottom:none;text-align:center;background:#F5EDE4}
.newsList .inner tbody tr:hover{}
.newsList .inner tbody td {padding:0px;font-size:13px;border-bottom:none;line-height:20px;text-align:left;font-weight:normal;color:#67564B}
.newsList .inner tbody td.tLeft {text-align:left;font-size:16px;}
.newsList .inner tbody td img {display:inline;vertical-align:middle;}



.faqArea {}
.faqList {border-top:2px solid #000;}
.faqList.noLine {border-top:none;}
.faqList:after{clear:both;content:"";display:block;font-size:0;height:0px;line-height:0;visibility:hidden}
.faqList>li {border-bottom:#e3e3e3 solid 1px;text-align:left;}
.faqList>li.on .faqBox {background:rgba(245,245,245,1);}
.faqList>li.on .faqBox .questionTxt {font-weight:600}
.faqList>li.on .faqBox .question {background:none}
.faqList>li.on .faqBox .questionTxt {
	color:rgba(0,0,0,1);	
}
.faqList>li.on .answerBox {display:block;background:rgba(245,245,245,1);}

.faqList .faqBox {
	position:relative;
	display:table;
	padding:20px 0;
	width:100%;
}
.faqList .faqSet {
	position:relative;
	display:table-cell;
	width:80px;
	text-align:center;
	vertical-align:top;
}
.faqList .qa-icon {
	display:inline-block;
	font-size:24px;
	font-weight:600;
	width:50px;
	height:50px;
	line-height:52px;
	text-align:center;
	vertical-align:middle;
	background:rgba(0,0,0,1);
	color:#fff;
	font-family:"Raleway",serif;
	-webkit-border-radius: 40px; 
	   -moz-border-radius: 40px; 
		    border-radius: 40px;
}
.faqList .faqBox .questionTxt {
	display:table-cell;
	font-size:20px;
	text-align:left;
	padding:0px 15px;
	vertical-align:middle;
	font-weight:400;
	line-height:145%;
}
.faqList .answerBox {
	position:relative;
	display:table;
	padding:10px 0 30px;
	display:none;
}
.faqList .answerBox:after{clear:both;content:"";display:block;font-size:0;height:0px;line-height:0;visibility:hidden}
.faqList .answerBox .qa-icon {
	background:rgba(204,204,204,1);
}

/*.faqList .answerBox .answer {
	vertical-align:top;
}*/
.faqList .answerBox .answerTxt {
	display:table-cell;
	font-size:16px;
	line-height:160%;
	text-align:left;
	padding:0px 15px;
	vertical-align:top;
	color:rgba(51,51,51,1);
}
.faqList .answerBox .answerTxt a {
	/*text-decoration:underline;*/
	border-bottom:1px solid #505050;padding-bottom:3px;
}

.faqList a:hover .questionTxt {
	color:rgba(0,0,0,1);
}

.faqList .answerBox ul { margin: 10px 0 0; padding: 0; list-style: disc !important; padding-left: 1.5em; }
.faqList .answerBox ul> br {display:none;}
.faqList .answerBox ul li { font-size: 16px; list-style:circle outside none;letter-spacing: -0.5px; line-height: 1.5; margin-bottom:5px;}
.faqList .answerBox ul li.none {list-style:none;margin-left: -1.2em; }
.faqList .answerBox ul li.red {color:#CC0000;}



@media screen and (max-width: 1024px) {
	.faqList .faqBox {
		padding:15px 0;
	}
	.faqList .faqSet {
		width:60px;
	}
	.faqList .qa-icon {
		font-size:20px;
		width:40px;
		height:40px;
		line-height:42px;
	}
	.faqList .faqBox .questionTxt {
		font-size:18px;
		padding:0px 15px 0 10px;
	}
	.faqList .answerBox {
		padding:10px 0 20px;
	}
	.faqList .answerBox .answerTxt {
		font-size:16px;
		padding:0px 15px 0 10px;
	}
	.faqList a:hover .questionTxt {
		color:inherit;
	}
}
@media screen and (max-width: 640px) {
	.faqList {padding:20px 0 0;}
	
	.faqList .faqSet {
		width:50px;
	}
	.faqList .qa-icon {
		font-size:18px;
		width:30px;
		height:30px;
		line-height:32px;
	}
	.faqList .faqBox .questionTxt {
		font-size:16px;
		padding:0px 15px 0 5px;
	}
	
	.faqList .answerBox .answerTxt {
		font-size:15px;
		padding:0px 15px 0 5px;
	}
}


@media screen and (max-width:768px){
 .navbar{
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 24px;
 }
 .navbar__menu{
  display:none;
  flex-direction: column;
  align-items: center;
  width: 100%;
 }

 .navbar__menu li{
  width: 100%;
  text-align: center;
 }
 .navbar__icons{
  display:none;
  justify-content: center;
  width: 100%;
 }
 .navbar__toogleBtn{
  display: block;
 }
 .navbar__menu.active,
 .navbar__icons.active{
  display: flex;
 }
}

/* event */
/* 페이지네비 */
#pageNavi {text-align:center;padding:40px 0px 40px;}
#pageNavi b,
#pageNavi span,
#pageNavi a {
	*zoom: 1;margin: 0px 0px 0px 0px; 
	text-align: center; width: 38px; text-decoration: none; position: relative; 
	display:inline-block; 
	color:#666;  font-size:16px;
	border: #ccc 1px solid; 
	line-height:36px;
	vertical-align:middle;
}
#pageNavi a:hover { color: #333; background: #fff; border: rgba(50,35,30,1) 1px solid; }
#pageNavi span { color:#ccc;}
#pageNavi b { background:rgba(51,51,51,1); color:#fff; border:rgba(51,51,51,1) 1px solid;}
#pageBtn {text-align:center;padding:30px 0;background:#666666;}

/* visual
.visual li img{position: absolute; right:0; top:0; width: 100%; z-index: -100;} */

/*footer*/
footer{width: 100%; background: #161e27;}
footer .foot_inner {width: 100%;  margin:auto; padding: 80px 0; color:#fff; overflow: hidden; position: relative;}
footer .foot_inner .foot_logo {float: left; width: 16%; transform: translateX(10%);} 
footer .foot_inner .contact_area {float: left; width: 68%; }
footer .foot_inner .contact_area li {float:left; width: 18%;}
footer .foot_inner .contact_area li:nth-child(1) {width: 34%; }
footer .foot_inner .contact_area li:nth-child(3) {width: 22%; }
footer .foot_inner .contact_area li p {margin-bottom: 5px;}
footer .foot_inner .contact_area li p a{font-size: 14px;}
footer .foot_inner .contact_area li p.adrress {font-size: 18px;}
footer .foot_inner .contact_area li p span {display: inline-block; margin-right: 10px;}
footer .foot_inner .contact_area li p.mail, footer .foot_inner .contact_area li p.tel {letter-spacing: 1px;}
footer .foot_inner .footer_right {float: right; width: 16%; }
footer .foot_inner .footer_right .icon li{float: right; padding-left: 10px; padding-right: 35px; box-sizing: border-box;}
footer .foot_inner .footer_right .icon li:nth-child(3){padding-left: 0;}
footer .foot_inner .footer_right .icon li:nth-child(3) img {width: 70%;}
footer .foot_inner .footer_right .icon li a {font-size: 20px;}
footer .foot_inner .footer_right .fam_site_wrap {width: 170px; position: absolute;right: 25px;bottom: 85px;font-size: 13px;}
footer .foot_inner .footer_right .fam_site_wrap .txt_wrap {width: 100%;height: 33px; margin-bottom: 10px;}
footer .foot_inner .footer_right .fam_site_wrap .txt_wrap .btn_fam {display: block; width: 100%; padding: 5px 15px 5px 20px; box-sizing: border-box; text-align: left; background: #161e27; color:#fff; border: 1px solid rgba(255,255,255,0.1);border-radius: 3px; cursor: pointer;margin-bottom: 20px;}
footer .foot_inner .footer_right .fam_site_wrap .txt_wrap .btn_fam .fma_sit_tit{margin-right: 55px;}



footer .foot_inner .footer_right .fam_site_wrap .item_wrap {display: none; width: 100%; height: 156px;padding: 18px 20px 16px;box-sizing: border-box; position: absolute; left: 0; bottom: 58px;background: #fff;  overflow: scroll;}
footer .foot_inner .footer_right .fam_site_wrap .item_wrap a {display: block; width: 100%;  padding: 6px;box-sizing: border-box; transition: 0.4s color ease;  color: #1d212a;}
footer .foot_inner .footer_right .fam_site_wrap .copy {font-size: 11px;color: #888; }
